* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



body,
html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;

}


/* Página de bienvenida*/

.oficina {
  position: relative;
  overflow: hidden;
  color: #861636;
}

.oficina::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("public/images/despacho.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px); /* Difumina la imagen */
  opacity: 0.5; /* Ajusta la transparencia de la imagen */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}

/* Estilos opcionales para el texto dentro del div */
.oficina h1 {
  z-index: 1; /* Asegura que el texto esté delante de la imagen */
  font-size: 5em;
  text-align: left;
  padding-top: 20vh;
  padding-left: 5vw;
  color: black;
}

.oficina h2 {
  z-index: 1; /* Asegura que el texto esté delante de la imagen */
  font-size: 2em;
  text-align: left;
  padding-top: 2vh;
  padding-left: 5vw;
}



/*----Formulario de user y password----*/
.login-form {
  width: 100%;
}



.login-form-title {
  display: block;
  font-family: 'Verdana', cursive;
  font-size: 40px;
  color: #333333;
  line-height: 1.5;
  text-align: center;
}


/*Botones formulario*/


/*-----  [ Input ] ---------------*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}



.input100 {
  font-family: 'Verdana', cursive;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}



/*---formulario login ---*/

.wrap-login {
  width: 400px;
  background: #eceff1;
  border-radius: 20px;
  overflow: hidden;
  padding: 130px 55px 53px 55px;
}

.wrap-error {
  width: 50vw;
  background: #eceff1;
  border-radius: 20px;
  overflow: hidden;
  padding: 80px 55px 53px 55px;

}

/*------Contenedores botones --------*/

.container-volver {
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-login-form-btn {

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  padding-top: 13px;

}



.wrap-login-form-btn {

  display: block;
  position: relative;
  z-index: 1;
  border-radius: 40px 5px;
  overflow: hidden;
  margin: 0 auto;
}


.login-form-btn {

  font-family: 'Verdana', cursive;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}



.wrap-login-form-btn:hover .login-form-bgbtn {

  left: 0;
}



nav.navbar a.navbar-brand {

  font-size: 30px;
  color: #fff;
  display: inline-block;
  font-family: 'Verdana', cursive;
  padding: 0 20px;
}

a.navbar-brand::after {

  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

a.navbar-brand:hover::after {

  width: 100%;
  transition: width .3s;
}


/* botones combinados (crear/actualizar + volver) ----*/

.button-container {

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrap-login-form-btn {
  flex: 1; /* Hace que cada botón ocupe el mismo espacio */
  margin: 0 10px; /* Añade un pequeño margen entre los botones */
}

.login-form-btn {

  width: 100%; 
}


/* ----Botones link -----*/

.iconovolver {

  min-width: 3vw;
  min-height: 2vh;
  max-width: 10vw;
}

.iconoItem {
  min-width: 50px;
  max-width: 2vw;
}




img .circular {

  border-radius: 50%;
}


/* ---------fondo navbar-----------------*/
nav.navbar {

  background: -webkit-linear-gradient(to right, #ffffff, #a2a8a4);
  background: linear-gradient(to right, #ffffff, #a2a8a4);
  border-radius: 0 0 10px 10px;
}

nav.navbar li.nav-item a.nav-link:hover::after {

  width: 100%;
  transition: width .3s;
}

/*--- Fondo pantalla inicio ---*/

div .container-c {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: -webkit-linear-gradient(210, #ffffff, #861636);
  /* Gradiente de 135 grados */
  background: linear-gradient(210deg, #ffffff, #861636);
  /* Gradiente de 135 grados */
}

/* ------------------------------------- */

#posicion::placeholder {
  color: white;
  background-color: #861636;
  padding-left: 5px;
  opacity: 1;
  font-size: 15px;
  font-family: 'Verdana', cursive;
}